h2{
	text-align: center;
	background-color: silver;
}
p{
	font-size: 18px;
}
button{
	background-color: blue;
	padding: 10px 20px;
	border-radius: 20px;
	border:none;
	color: white;
	font-size: 13px;
}